@page "/counter"
@rendermode InteractiveServer

<PageTitle>Emanueli</PageTitle>

<div class="pagina">
<img src="img/Billy.png" alt="" class="imagem">
<br>
<h3 class="titulo">Sobre mim</h3>
<h6 class="emanueli">
Emanueli Xavier - 3°A Informática
</h6>


<div class="conteudo">
    <br>Nasci em Ji-Paraná<p></p>
    Quero fazer faculdade de obstetrícia<p></p>
    Veterana de informática do A<p></p>
    Líder do 3°A Informática 2025 no IFRO <i>Campus</i> Ji-Paraná<p></p>
    Gosto de me cuidar<p></p>
    Gosto de filmes e séries<p></p>
    Gosto de Branquelas<p></p>
    Tenho um cachorro (filho) chamado Billy (na imagem acima)<p></p>
</div>

</div>