@page "/mariana"

<PageTitle>Currículo</PageTitle>

<div class="cor">

    <h1 id="titulo">Currículo</h1>

    <h5>
    Estudante do Técnico em Informática no IFRO</h5>

    <h5>
    Estagiária na Eficiência Fiscal</h5>

    <h5>
    Ex-bolsista do projeto de Robótica</h5>


    <h5>
    Curso de auxiliar de laboratório</h5>

    <h5>
    Técnica em informática em formação</h5>

    <h5>
    Fundamental II completo</h5>

    <h5>
    Prestes a concluir o Ensino Médio</h5>


</div>

<style>
    .cor {
        color: rgb(11, 11, 103);
        background: rgb(205, 243, 255);
        padding: 25px;
    }

    #titulo1 {
        color: rgb(11, 11, 103);
        background: rgb(205, 243, 255);
    }
</style>
