@page "/andrea"

<div class="container my-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="card-title text-center">Ândrea Matias Suniga</h1>
            <p class="text-center text-muted">Estudante de Informática - IFRO Campus Ji-Paraná</p>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <h5>Contato</h5>
                    <ul class="list-unstyled">
                        <li><strong>Endereço:</strong> Av. Macapá, Presidente Médici - RO</li>
                        <li><strong>Telefone:</strong> (69) 99963-2624</li>
                        <li><strong>Email:</strong> andreamatiassuniga707@gmail.com</li>
                        <li>
                            <strong>GitHub:</strong>
                            <a href="https://github.com/Matiassandrea" target="_blank">Matiassandrea</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Formação Acadêmica</h5>
                    <p><strong>Curso:</strong> Técnico em Informática</p>
                    <p><strong>Instituição:</strong> IFRO - Campus Ji-Paraná</p>
                    <p><strong>Período:</strong> 2023 – 2025 (em andamento)</p>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <h5>Habilidades Técnicas</h5>
                    <ul>
                        <li>C#</li>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Idiomas</h5>
                    <ul>
                        <li>Português (nativo)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
