@page "/"

<PageTitle>Home</PageTitle>
<style>
	.description {
	max-width: 800px;
	margin: 10px auto;
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.text-pink{
		color: #d6336c !important;
	}
</style>

<div class="description">
	<h1>Atividade da disciplina de <strong>Projeto de Desenvolvimento de Sistemas</strong></h1>
	<p class="text-pink">Clique nos nomes para ver os currículos dos alunos.</p>
	<p>Alunas: Ana Maria, Ândrea, Emanueli e Mariana</p>
</div>