@page "/"

<PageTitle>Emanueli</PageTitle>

<div class="pagina">

<img src="img/Eu.png" alt="" class="imagem">

<br>
<h3 class="titulo">Emanueli Xavier da Silva</h3>
<h6 class="emanueli">3°A Informática</h6>

<div class="conteudo">

<br>
Técnico em Informática - IFRO <i>Campus</i> Ji-Paraná (2023-presente)<p></p>
Bolsista - Robótica (2023-presente)<p></p>
Fundamental II - Colégio Tiradentes da Polícia Militar (2019-2022)<p></p>
Certificado de nível avançado em inglês - Cambridge University (2024)<p></p>
Campuseira na Campus Party Brasil (2025)<p></p>

</div>
</div>